[Unit]
Description=NDP Wideband Imager Server
After=network-online.target
Wants=network-online.target

[Service]
# Run as the specified user
User=ndp

# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Run before process
ExecStartPre=/bin/bash -c '[ -d /opt/orville3/log ] || mkdir -p /opt/orville3/log'

# Setup the environment
Environment=BIFROST_INCLUDE_PATH=/opt/orville3/bifrost/src/bifrost
Environment=LD_LIBRARY_PATH=/usr/local/cuda/lib64:/opt/orville3/bifrost/lib:$LD_LIBRARY_PATH
Environment=PYTHONPATH=/opt/orville3/bifrost/python:$PYTHONPATH

ExecStart=/bin/bash -ec '\
python3 /opt/orville3/orville_imager.py \
   --logfile    /opt/orville3/log/wideband-imager.log \
	 --output-dir /opt/orville3 \
   --no-oims'

[Install]
WantedBy=multi-user.target
