[Unit]
Description=NDP Wideband Imager Server
After=network-online.target
Wants=network-online.target

[Service]
# Run as the specified user
User=ndp

# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Run before process
ExecStartPre=/bin/bash -c '[ -d /data/orville/log ] || mkdir -p /data/orville/log'

# Setup the environment
Environment=BIFROST_INCLUDE_PATH=/home/ndp/orville3/bifrost/src/bifrost
Environment=LD_LIBRARY_PATH=/usr/local/cuda/lib64:/home/ndp/orville3/bifrost/lib:$LD_LIBRARY_PATH
Environment=PYTHONPATH=/home/ndp/orville3/bifrost/python:$PYTHONPATH

ExecStart=/bin/bash -ec '\
numactl --cpunodebind=0 --membind=0 -- \
python3 /home/ndp/orville3/orville_imager.py \
   --flagfile   /home/ndp/orville3/bad_freq.txt \
	 --logfile    /data/orville/log/wideband-imager.log \
	 --output-dir /data/orville'

[Install]
WantedBy=multi-user.target
